body {
  text-align: center;
  background: #111;
  color: white;
  font-family: Arial, sans-serif;
}

canvas {
  background: black;
  border: 2px solid white;
  margin-top: 10px;
}
#startScreen {
  margin-top: 30px;
}

#playBtn {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

